In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [5]:
# setup the dataframe
df = pd.DataFrame({'ID': ['X', 'Y'],
                   'Country_Pairs': [[('France', 'USA'), ('USA', 'France')],
                                     [('USA', 'UK'), ('UK', 'France'), ('USA', 'France')]]})

# separate each tuple to its own row with explode
df2 = df.explode('Country_Pairs')

# separate each value in the tuple to its own column
df2[['Country1', 'Counrtry2']] = pd.DataFrame(df2.Country_Pairs.tolist(), index=df2.index)

df2

  ID  Country_Pairs Country1 Counrtry2
0  X  (France, USA)   France       USA
0  X  (USA, France)      USA    France
1  Y      (USA, UK)      USA        UK
1  Y   (UK, France)       UK    France
1  Y  (USA, France)      USA    France